.bigHeroText {
  font-size: 17rem;
  font-weight: 800;
  letter-spacing: -2px;
  margin-bottom: 4rem;
}
.smallHeroText {
  font-weight: 700;
  font-size: 2rem;
  padding: 1rem;
  /* color: #888; */
}

.smallHeroText span {
  color: #339af0;
  text-transform: uppercase;
}

.hero {
  margin-bottom: 10rem;
}
